<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="test.contribution1">
         <menu
               label="PLANETS WDT"
               path="additions"
               id="test.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Open PLANETS Wizard"
               class="eu.planets_project.ifr.core.wdt.impl.action.PLANETS_MenuAction"
               menubarPath="test.menu1/group1"
               enablesFor="1"
               id="test.PLANETS_MenuAction">
         </action>
      </objectContribution>
   </extension>

</plugin>