<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright (c) 2007,2010 The Planets Project Partners.

All rights reserved. This program and the accompanying 
materials are made available under the terms of the 
Apache License, Version 2.0 which accompanies 
this distribution, and is available at 
http://www.apache.org/licenses/LICENSE-2.0 -->


<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>pserv-if-storage</description>
    <display-name>pserv-if-storage</display-name>
  
  <!--  On JBoss you use this plain POJO deployment to deploy the service. -->  
  <!-- 
  <servlet>
    <servlet-name>JJ2000ViewerService</servlet-name>
    <servlet-class>eu.planets_project.services.jj2000.JJ2000ViewerService</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>JJ2000MigrateService</servlet-name>
    <servlet-class>eu.planets_project.services.jj2000.JJ2000MigrateService</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>JJ2000MigrateService</servlet-name>
    <url-pattern>/JJ2000MigrateService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JJ2000ViewerService</servlet-name>
    <url-pattern>/JJ2000ViewerService</url-pattern>
  </servlet-mapping>
   -->  

  <!-- Under the Metro JAX-WS RI stack, you would use something like this, along with an associated sun-jaxws.xml file. -->
  
    <!-- 
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <description>JAX-WS endpoint - fromjava</description>
        <display-name>ODFValidatorService</display-name>
        <servlet-name>ODFValidatorService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ODFValidatorService</servlet-name>
        <url-pattern>/ODFValidatorService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
     -->
     
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.REFRESH_PERIOD</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.CHECK_EXTENSIONS_FILTER</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>
            org.apache.myfaces.RESOURCE_VIRTUAL_PATH
        </param-name>
        <param-value>/faces/extensionResource</param-value>
    </context-param>
    
    <!-- Extension for RichFaces-JSF  -->
    <!-- 
    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>richFacesTestbed</param-value>
    </context-param>
     -->
    <!-- Faclelet always needs to be the first View_Handler -->
    <!-- when more than one framework (except RichFaces) is used - these param can be used to define their order  -->
    <context-param>
      <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
      <param-value>com.sun.facelets.FaceletViewHandler</param-value>
    </context-param>
    
    
    <!-- Extension for RichFaces-JSF: in combination with myFaces it must be the first one in the filter chain  -->
    <filter>
        <filter-name>richfaces</filter-name> 
        <filter-class>org.ajax4jsf.Filter</filter-class> 
        <init-param>
            <param-name>createTempFiles</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>maxRequestSize</param-name>
            <param-value>1000000</param-value>
        </init-param>
    </filter>
  <!--Extension Filter for File Upload -->
    <filter>
        <filter-name>extensionsFilter</filter-name>
        <filter-class>
            org.apache.myfaces.webapp.filter.ExtensionsFilter
        </filter-class>
        <init-param>
            <param-name>uploadMaxFileSize</param-name>
            <param-value>100m</param-value>
        </init-param>
        <init-param>
            <param-name>uploadThresholdSize</param-name>
            <param-value>100m</param-value>
        </init-param>
        <init-param>
            <description>
                Set the path where the intermediary files will be
                stored.
            </description>
            <param-name>uploadRepositoryPath</param-name>
            <param-value>/tmp</param-value>
        </init-param>
    </filter>

    <!-- Filter Mapping for RichFaces-JSF  -->
    <filter-mapping> 
        <filter-name>richfaces</filter-name> 
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>*.faces</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>/faces/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
    </filter-mapping>

    <!-- Denying Directory Browsing -->
    <servlet>
        <servlet-name>local_default</servlet-name>
        <servlet-class>
            org.apache.catalina.servlets.DefaultServlet
        </servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- JCR content resolver servlet -->
    <servlet>
    	<servlet-name>JCRContentResolver</servlet-name>
    	<servlet-class>eu.planets_project.ifr.core.storage.servlet.JcrDigitalObjectContentResolver</servlet-class>
        <load-on-startup>0</load-on-startup>
  	</servlet>    

    <servlet-mapping>
        <servlet-name>local_default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JCRContentResolver</servlet-name>
        <url-pattern>/jcr/contentResolver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xml</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>



    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <!-- 400 code is from trying to go directly to login page -->
        <error-code>400</error-code>
        <location>/index.jsp</location>
    </error-page>
    
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/error-redirect.jsp</location>
    </error-page>
     
     
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                Planets Data Registry Storage System
            </web-resource-name>
            <url-pattern>/restricted/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allow only registered user to access these pages.</description>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>PlanetsRealm</realm-name>
        <form-login-config>
            <form-login-page>/login-redirect.jsp</form-login-page>
            <form-error-page>/login-redirect.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description>Planets User</description>
        <role-name>user</role-name>
    </security-role>
    
</web-app>
