body {
background:#F5F5F5 url(../graphics/banner-background.gif) repeat-x scroll left top;
color:#000000;
font-family:arial,helvetica,sans-serif;
font-size:76%;
margin:0pt;
padding:0pt;
}
#banner {
background:transparent none repeat scroll 0%;
float:left;
}
#gelinks {
background-color:transparent;
color:#FFFFFF;
float:right;
font-family:arial,helvetica,sans-serif;
margin:0pt;
padding:0pt;
}
#gelinks form {
  display: inline;
}
#geleft {
background:transparent url(../graphics/tab-top_l.gif) no-repeat scroll left bottom;
float:left;
margin:0pt;
overflow:hidden;
padding:6px 0pt 7px;
width:17px;
}
#geright {
background:transparent url(../graphics/tab-top_r.gif) repeat-x scroll left bottom;
float:left;
margin:0pt;
overflow:hidden;
padding:6px 2px 6px 0pt;
}
#header2 {
background-color:#BFDEEB;
float:left;
line-height:normal;
width:100%;
}
#header2 ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:auto;
padding-top:0px;
width:300px;
}
#header2 li, .panelTab {
float:left;
margin:0pt;
padding:0pt;
}
#header2 a {
background-color:#9DD5E8;
border:1px solid #579EC2;
color:#000000;
display:block;
float:left;
font-size:0.8em;
font-weight:bold;
margin:5px 5px 5px 1px;
padding:5px;
text-decoration:none;
}
#header2 a {
float:none;
}
#header2 a:hover {
text-decoration:none;
}
#header2 #current2 {
}
#header2 #current2 a {
color:#000000;
font-weight:bold;
text-decoration:none;
}
#header {
background:transparent none repeat scroll 0%;
float:left;
line-height:normal;
width:100%;
}
#header ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
padding:10px 10px 0pt;
}
#header li, .panelTab {
background:transparent url(../graphics/tab-n_l.gif) no-repeat scroll left top;
float:left;
margin:0pt;
padding:0pt 0pt 0pt 9px;
}
#header a {
background:transparent url(../graphics/tab-n_r.gif) no-repeat scroll right top;
color:#FFFFFF;
display:block;
float:left;
font-size:0.8em;
font-weight:bold;
padding:5px 15px 4px 6px;
text-decoration:none;
}
#header a {
float:none;
}
#header a:hover {
color:#BFDEEB;
text-decoration:none;
}
#header #current {
background-image:url(../graphics/tab-s_l.gif);
}
#header #current a {
background-image:url(../graphics/tab-s_r.gif);
color:#000000;
font-weight:bold;
text-decoration:none;
}
p {
color:#000000;
font-family:Arial,Helvetica,sans-serif;
line-height:normal;
margin:5px 0px;
}
ul {
color:#000000;
font-family:Arial,Helvetica,sans-serif;
list-style-type:square;
}
.rich-datalist li {
 margin-bottom: 0.2em;
}
div.clear {
clear:both;
}
a {
color:#006699;
text-decoration:none;
}
a:hover, active {
color:#000000;
text-decoration:underline;
}
#subnav {
background-color:#BFDEEB;
border-bottom:2px solid #579EC2;
display:block;
margin:0px 0px 20px;
padding-bottom:1px;
padding-top:1px;
text-align:left;
width:100%;
}
#subnav2 {
background-color:#9DD5E8;
border-bottom:2px solid #579EC2;
display:block;
margin:0px 0px 20px;
padding-bottom:1px;
padding-top:1px;
text-align:left;
width:100%;
}
h2.subnav {
color:#000000;
font-family:arial,helvetica,sans-serif;
font-size:1.2em;
letter-spacing:0.1em;
margin:0px;
padding-left:10px;
text-align:center;
}
a.subnav {
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}
a.subnav:hover {
color:#FFFFFF;
font-weight:bold;
text-decoration:underline;
}
a.subnav:active {
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}
#mainwrapper {
background-image:url(../graphics/leftcol.gif);
background-repeat:repeat-y;
float:left;
width:100%;
}
#maincol {
margin-left:200px;
}
#leftcol {
background:transparent none repeat scroll 0%;
border-top:2px solid #579EC2;
float:left;
margin-left:-100%;
text-align:right;
width:200px;
}
.innertube {
margin:0pt 10px 10px;
}
.innertubemain {
background:#FFFFFF none repeat scroll 0%;
border:2px solid #579EC2;
margin:0pt 10px 10px;
padding-left:5px;
}
h3.leftcol {
background:#579EC2 none repeat scroll 0%;
color:#FFFFFF;
font-size:0.9em;
letter-spacing:0.2em;
margin:0pt;
padding:5px;
text-align:center;
text-transform:uppercase;
}
p.leftcol {
text-align:left;
}
p.center {
text-align:center;
}
fieldset.login {
width:400px;
}
ul.exp, ul.sub_exp {
border:0pt none;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-bottom:0px;
margin-top:0px;
padding:0px 0pt;
}
li.exp_nd {
background-image:url(../graphics/button_off.gif);
background-position:right center;
background-repeat:no-repeat;
display:block;
padding-bottom:5px;
padding-right:25px;
padding-top:5px;
}
li.exp_sel {
background:#C8E3ED none repeat scroll 0%;
display:block;
}
a.exp {
background-image:url(../graphics/button_off.gif);
background-position:right center;
background-repeat:no-repeat;
display:block;
padding-bottom:5px;
padding-right:25px;
padding-top:5px;
}
a.exp:hover, a.exp:active {
background-image:url(../graphics/button_on.gif);
background-position:right center;
background-repeat:no-repeat;
display:block;
padding-bottom:5px;
padding-right:25px;
padding-top:5px;
}
a.exp_done {
background-image:url(../graphics/button_off_done.gif);
background-position:right center;
background-repeat:no-repeat;
display:block;
padding-bottom:5px;
padding-right:25px;
padding-top:5px;
}
a.exp_done:hover, a.exp_done:active {
background-image:url(../graphics/button_on_done.gif);
background-position:right center;
background-repeat:no-repeat;
display:block;
padding-bottom:5px;
padding-right:25px;
padding-top:5px;
}
li.exp_nd2 {
background-image:url(../graphics/button_subsec.gif);
background-position:right center;
background-repeat:no-repeat;
display:block;
padding-bottom:5px;
padding-right:25px;
padding-top:5px;
}
a.exp2 {
background-image:url(../graphics/button_subsec.gif);
background-position:right center;
background-repeat:no-repeat;
display:block;
padding-bottom:5px;
padding-right:25px;
padding-top:5px;
}
a.exp2:hover, a.exp2:active {
background-image:url(../graphics/button_subsec_on.gif);
background-position:right center;
background-repeat:no-repeat;
display:block;
padding-bottom:5px;
padding-right:25px;
padding-top:5px;
}
a.exp2_done {
background-image:url(../graphics/button_subsec_done.gif);
background-position:right center;
background-repeat:no-repeat;
display:block;
padding-bottom:5px;
padding-right:25px;
padding-top:5px;
}
a.exp2_done:hover, a.exp2_done:active {
background-image:url(../graphics/button_subsec_on_done.gif);
background-position:right center;
background-repeat:no-repeat;
display:block;
padding-bottom:5px;
padding-right:25px;
padding-top:5px;
}
#footer {
background-image:url(../graphics/leftcol.gif);
background-repeat:repeat-y;
font-size:0.8em;
margin:0pt;
text-align:right;
width:100%;
}
#footertext {
background:transparent none repeat scroll 0%;
margin-right:10px;
}
img.toolbar {
border:0pt none;
margin:0pt;
padding:0pt;
vertical-align:text-top;
}
img {
border:0pt none;
vertical-align:top;
}
img.expEditIcon {
margin:0pt 2px 0pt 4px;
}
hr {
border-bottom:1px dashed;
border-top:medium none;
color:#006699;
height:1px;
margin-bottom:0px;
margin-top:10px;
text-align:center;
width:100%;
}
h1 {
color:#999999;
font-family:arial,helvetica,sans-serif;
font-size:1.4em;
margin:0px;
padding:0px;
}
h2.main {
background:#579EC2 none repeat scroll 0%;
color:#FFFFFF;
font-size:1em;
letter-spacing:0.2em;
margin:15px 0pt 15px -5px;
padding:5px 0px 5px 5px;
text-align:left;
width:100%;
}
h3 {
color:#999999;
font-family:arial,helvetica,sans-serif;
font-size:1em;
font-weight:bold;
margin:10px 0px;
padding:0px;
}
legend {
color:#006699;
font-weight:bold;
padding:0.2em;
}
fieldset {
width:600px;
}
fieldset fieldset {
width:575px;
}
label {
clear:left;
cursor:pointer;
float:left;
font-weight:bold;
margin-bottom:0.5em;
margin-right:0.5em;
text-align:right;
width:100px;
}
p.glinks {
color:#000000;
font-family:arial,helvetica,sans-serif;
font-size:0.8em;
margin:0pt;
padding:0pt;
}
a.glinks {
color:#000000;
font-weight:bold;
text-decoration:none;
}
a.glinks:hover {
font-weight:bold;
text-decoration:underline;
}
a.glinks:active {
font-weight:bold;
text-decoration:underline;
}
div.enav {
background-color:#FFFFFF;
background-image:url(../graphics/bar.gif);
background-position:center top;
background-repeat:repeat-x;
border:1px solid #BEC9D1;
display:block;
height:1em;
margin:0px 2px 20px;
overflow:hidden;
padding:3px 5px;
text-align:left;
}
table {
border:1px solid #BFDEEB;
}
td {
border:1px solid #BFDEEB;
}
td.passive {
background-color:#579EC2;
border:1px solid #BFDEEB;
color:#FFFFFF;
font-weight:bold;
text-align:right;
}
tr.blue {
background-color:#C8E3ED;
}
tr {
font-size:smaller;
}
th {
background-color:#579EC2;
border:1px solid #BFDEEB;
color:#FFFFFF;
font-size:larger;
text-align:center;
}
a.tableHeaderSel {
color:#FFFFFF;
}
div.filepane {
border:1px solid black;
height:600px;
max-width:800px;
overflow:hidden;
width:100%;
}
div.filebrowse {
border-right:1px solid black;
float:left;
height:595px;
overflow:scroll;
padding:2px;
width:200px;
}
div.filebrowse table, div.filebrowse tr, div.filebrowse td {
border:medium none;
}
div.filemain {
height:595px;
overflow:scroll;
padding:2px;
width:auto;
}
div.servicepane {
border:medium none;
height:600px;
max-width:800px;
overflow:hidden;
width:100%;
}
div.servicebrowse {
border:medium none;
float:left;
height:525px;
overflow:auto;
padding:2px;
width:99.5%;
}
div.serviceoptions {
border-bottom:1px solid black;
float:left;
height:70px;
padding:2px;
width:99.5%;
}
div.servicebrowse table, div.servicebrowse tr, div.servicebrowse td {
border:medium none;
}
div.servicemain {
border:medium none;
height:595px;
overflow:auto;
padding:2px;
width:auto;
}
div.box {
border:2px solid #579EC2;
margin-bottom:10px;
margin-top:10px;
width:300px;
}
h3.box {
background-color:#579EC2;
color:#FFFFFF;
font-size:0.9em;
letter-spacing:0.2em;
margin:0pt 0pt 5px;
padding-bottom:2px;
padding-top:2px;
text-align:center;
text-transform:uppercase;
}
p.box {
margin:2px 2px 10px;
}
textarea {
font-family:arial,helvetica,sans-serif;
font-size:1em;
}
input {
font-family:arial,helvetica,sans-serif;
font-size:1em;
}
select {
font-family:arial,helvetica,sans-serif;
font-size:1em;
}
span.readerLabel {
clear:left;
float:left;
font-weight:bold;
margin-bottom:0.5em;
margin-right:0.5em;
text-align:right;
width:100px;
}
.rich-inslider-field, .rich-slider, .rich-inslider-track, .rich-inslider-right-num, .rich-inslider-left-num{
	border-color:#FFFFFF;
}
.hidden {
border:0pt none;
margin:0pt;
padding:0pt;
}
.infoMessage {
color:green;
}
.errorMessage {
color:red;
}
.commentFormWrap fieldset {
border:1px solid #AAAAAA;
clear:both;
margin:2em 0pt;
}
.commentFormWrap legend {
color:#444444;
}
.commentFormWrap table {
border:medium none;
clear:none;
width:100%;
}
.commentFormWrap td {
border:medium none;
clear:none;
}
.commentFormWrap tr {
clear:none;
font-size:1em;
}
.commentFormWrap h3 {
color:black;
margin-top:0pt;
}
.commentWrapCurrent, .commentWrap {
border-left:1px solid #AAAAAA;
clear:none;
display:block;
padding:0.5em;
}
.commentWrapCurrent {
background-color:#FFFFE8;
display:block;
}
.commentTitle, .commentReplyWrap, .commentEditWrap {
font-weight:bold;
}
.commentBody {
color:#222222;
padding:0pt 0.5em;
}
.commentReplyWrap, .commentEditWrap {
border-bottom:1px solid #AAAAAA;
display:inline;
margin-left:4px;
padding:0pt 2px;
}
.commentSigWrap {
color:#666666;
display:inline;
}
.commentDate {
font-style:italic;
}
.addCommentSubmitWrap {
margin-left:100px;
padding-left:0.5em;
}
.commentReplyingToWrap {
background-color:#F6F6FF;
margin:2em;
padding:5px;
}
.expandAll, .expandAllTop {
border:1px solid #888888;
float:right;
font-weight:bold;
margin:1em;
padding:0.5em 1em;
}
#blanket {
background-color:#111111;
left:0px;
opacity:0.65;
position:absolute;
top:0px;
width:100%;
z-index:9001;
}
#popUpDiv {
background-color:#579EC2;
margin-top:0pt;
padding-top:0pt;
position:absolute;
width:600px;
z-index:9002;
}
#overlay-menu {
background-color:#579EC2;
border:0pt none;
margin:0pt;
padding:0pt;
text-align:right;
}
#overlay-main {
background-color:white;
}
#searchBoxSidebar {
margin:0pt;
padding:0pt;
text-align:center;
}
#searchBoxSidebar input[type="submit"] {
margin-top:4px;
}
#dataRegistryBrowser table {
border-collapse:collapse;
border-spacing:0pt;
width:100%;
}
/* Experiment approval styles */
.approvalDenied {
  color: red;
}
.approvalDeniedHeader {
  text-transform: uppercase;
  font-weight: bold;
}

.tooltip {
  border-width:3px;
  padding:10px;
}
.tooltip-text {
  width:350px;
  height:80px;
  cursor:arrow;
  border-width:2px;
  text-align:left;
  display: table-cell;
  vertical-align: middle; 
}
.tooltipData {
  font-weight: bold;
}
.rich-datalist{
	list-style-type:none; width:100%;
}
.rich-table-subheadercell{
	color: #FFFFFF;
}