To ${user.fullName},

You experiment has NOT been granted approval for execution.

To modify your experiment, please return to the Testbed: ${applicationURL}

Regards,

The Testbed Team.

#set ($subject="Your experiment '${expName}' was denied approval for execution.")
