<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright (c) 2007,2010 The Planets Project Partners.

All rights reserved. This program and the accompanying 
materials are made available under the terms of the 
Apache License, Version 2.0 which accompanies 
this distribution, and is available at 
http://www.apache.org/licenses/LICENSE-2.0 -->

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>Shotgun</description>
    <display-name>Shotgun</display-name>
  
  <!--  On JBoss you use this plain POJO deployment to deploy the service. -->  
  
  <!--<servlet>
    <servlet-name>Im4JavaImageMagickMigrate</servlet-name>
    <servlet-class>eu.planets_project.services.migration.imagemagick.Im4JavaImageMagickMigrate</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ImageMagickMigrate</servlet-name>
    <servlet-class>eu.planets_project.services.migration.imagemagick.ImageMagickMigrate</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ImageMagickCrop</servlet-name>
    <servlet-class>eu.planets_project.services.modification.imagemagick.ImageMagickCrop</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ImageMagickRotate</servlet-name>
    <servlet-class>eu.planets_project.services.modification.imagemagick.ImageMagickRotate</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ImageMagickIdentify</servlet-name>
    <servlet-class>eu.planets_project.services.identification.imagemagick.ImageMagickIdentify</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Im4JavaImageMagickMigrate</servlet-name>
    <url-pattern>/Im4JavaImageMagickMigrate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ImageMagickMigrate</servlet-name>
    <url-pattern>/ImageMagickMigrate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ImageMagickCrop</servlet-name>
    <url-pattern>/ImageMagickCrop</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ImageMagickRotate</servlet-name>
    <url-pattern>/ImageMagickRotate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ImageMagickIdentify</servlet-name>
    <url-pattern>/ImageMagickIdentify</url-pattern>
  </servlet-mapping>

  -->
  
  <!-- Under the Metro JAX-WS RI stack, you would use something like this, along with an associated sun-jaxws.xml file. -->

	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	
	<servlet>
		<description>JAX-WS endpoint launcher</description>
		<display-name>JAXWSServlet</display-name>
		<servlet-name>JAXWSServlet</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
    <servlet>
        <servlet-name>Shotgun</servlet-name>
        <servlet-class>eu.planets_project.services.shotgun.ShotgunModify</servlet-class>
    </servlet>

	<!--
		For each web service, we attach the JAX-WS Servlet to the path for
		that service. NOTE that these names are also repeated in the
		sun-jaxws.xml file.
	-->

	<servlet-mapping>
		<servlet-name>Shotgun</servlet-name>
		<url-pattern>/Shotgun</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

</web-app>
