<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright (c) 2007,2010 The Planets Project Partners.

All rights reserved. This program and the accompanying 
materials are made available under the terms of the 
Apache License, Version 2.0 which accompanies 
this distribution, and is available at 
http://www.apache.org/licenses/LICENSE-2.0 -->

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<description>if-simple</description>
	<display-name>if-simple</display-name>

	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>PassThruMigrationService</servlet-name>
		<servlet-class>eu.planets_project.ifr.core.simple.impl.PassThruMigrationService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PassThruMigrationService</servlet-name>
		<url-pattern>/PassThruMigrationService</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>AlwaysSaysValidService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AlwaysSaysValidService</servlet-name>
        <url-pattern>/AlwaysSaysValidService</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SimpleCharacterisationService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleCharacterisationService</servlet-name>
        <url-pattern>/SimpleCharacterisationService</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SimpleIdentifyService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleIdentifyService</servlet-name>
        <url-pattern>/SimpleIdentifyService</url-pattern>
    </servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

</web-app>
