<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright (c) 2007,2010 The Planets Project Partners.

All rights reserved. This program and the accompanying 
materials are made available under the terms of the 
Apache License, Version 2.0 which accompanies 
this distribution, and is available at 
http://www.apache.org/licenses/LICENSE-2.0 -->

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>pa-jtidy</description>
    <display-name>pa-jtidy</display-name>
  
  <!--  On JBoss you use this plain POJO deployment to deploy the service. -->  
  
  <!--<servlet>
    <servlet-name>Im4JavaImageMagickMigrate</servlet-name>
    <servlet-class>eu.planets_project.services.migration.imagemagick.Im4JavaImageMagickMigrate</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ImageMagickMigrate</servlet-name>
    <servlet-class>eu.planets_project.services.migration.imagemagick.ImageMagickMigrate</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ImageMagickCrop</servlet-name>
    <servlet-class>eu.planets_project.services.modification.imagemagick.ImageMagickCrop</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ImageMagickRotate</servlet-name>
    <servlet-class>eu.planets_project.services.modification.imagemagick.ImageMagickRotate</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ImageMagickIdentify</servlet-name>
    <servlet-class>eu.planets_project.services.identification.imagemagick.ImageMagickIdentify</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Im4JavaImageMagickMigrate</servlet-name>
    <url-pattern>/Im4JavaImageMagickMigrate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ImageMagickMigrate</servlet-name>
    <url-pattern>/ImageMagickMigrate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ImageMagickCrop</servlet-name>
    <url-pattern>/ImageMagickCrop</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ImageMagickRotate</servlet-name>
    <url-pattern>/ImageMagickRotate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ImageMagickIdentify</servlet-name>
    <url-pattern>/ImageMagickIdentify</url-pattern>
  </servlet-mapping>

  -->
  
  <!-- Under the Metro JAX-WS RI stack, you would use something like this, along with an associated sun-jaxws.xml file. -->
  
     
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    
    <servlet>
	    <servlet-name>OdfValidator</servlet-name>
	    <servlet-class>eu.planets_project.services.validation.odfvalidator.OdfValidator</servlet-class>
  	</servlet>
  
	  <servlet-mapping>
	    <servlet-name>OdfValidator</servlet-name>
	    <url-pattern>/OdfValidator</url-pattern>
	  </servlet-mapping>
	  
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
     
     
    <!--
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                Im4JavaImageMagickMigrate
            </web-resource-name>
            <url-pattern>/view.jsp*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allow only registered user to access these pages.</description>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>PlanetsRealm</realm-name>
        <form-login-config>
            <form-login-page>/login-redirect.jsp</form-login-page>
            <form-error-page>/login-redirect.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description>Planets User</description>
        <role-name>user</role-name>
    </security-role>
    
	-->

</web-app>
