<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <!--<appender name="jetty" class="org.apache.log4j.FileAppender">-->
        <!--<param name="File"   value="jetty.log" />-->
        <!--<layout class="org.apache.log4j.PatternLayout">-->
            <!--<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C{1}:%L - %m%n"/>-->
        <!--</layout>-->
    <!--</appender>-->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %C{1}:%L - %m%n"/>
        </layout>
    </appender>
    <!--<logger name="org.mortbay.log">-->
        <!--<level value="DEBUG"/>-->
        <!--<appender-ref ref="jetty"/>-->
    <!--</logger>-->
    <root>
        <priority value="INFO"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>

