To ${user.fullName},

You experiment has been granted approval for execution.

To see your experiment, please return to the Testbed: ${applicationURL}


Regards,

The Testbed Team.


#set ($subject="Your experiment '${expName}' was approved for execution.")
