#menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
	padding-left: 1.1em;
	padding-top: 0.1em;
	padding-bottom: 0.2em;
	background-color: #9CD5E8;
	border-top: 1px solid #7F7F7F;
}

#submenu {
	margin: 0px;
	padding: 0px;
	list-style: none;
	padding-left: 1.1em;
	padding-top: 0.1em;
	padding-bottom: 0.2em;
	background-color: ##C6E2FF;
}

#menu td {
	background-color: #9CD5E8;
}

/*Richfaces Classes*/
.dr-toolbar-ext {
	border: 0px none;
	padding: 0px;
}

.dr-toolbar-int {
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	white-space: nowrap;
}

.dr-menu-separator {
	font-size: 0px;
	border-top: 1px solid #bfbfc0;
	margin: 2px 0px 2px 24px;
	border-top-color: #C4C0B9;
}

.dr-menu-item {
	padding: 1px 35px 1px 1px;
	white-space: nowrap;
	position: relative;
}

.dr-menu-item-enabled {
	border: 0px solid transparent;
	padding: 2px 36px 2px 2px;
}

.dr-menu-item-hover {
	border: 1px solid #4a70ab;
	cursor: pointer;
}

.dr-menu-item-disabled {
	border: 0px solid transparent;
	cursor: default;
	color: #839eca;
}

.dr-menu-icon {
	margin-right: 10px;
}

.dr-menu-icon img {
	vertical-align: middle;
}

.dr-menu-item a {
	text-decoration: none;
}

.dr-menu-node {
	position: absolute;
	width: 16px;
	height: 16px;
	font-size: 1px;
	top: 1px;
	right: 1px;
}

.dr-menu-item-disabled .dr-menu-node {
	background-position: bottom;
}

.dr-menu-item,.dr-menu-item a {
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
}

/* some styles are missing and cause a bad layout at first page load */

.dr-menu-list-border {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #c4c0b9;
	border-right-color: #c4c0b9;
	border-bottom-color: #c4c0b9;
	border-left-color: #c4c0b9;
	background-color: #f1eee9;
	float: left;
	position: absolute;
}
