<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<description>pc-metadata</description>
	<display-name>pc-metadata</display-name>

	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>MetadataExtractor</servlet-name>
		<servlet-class>eu.planets_project.ifr.core.services.characterisation.metadata.impl.MetadataExtractor</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MetadataExtractor</servlet-name>
		<url-pattern>/MetadataExtractor</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

</web-app>
